/node_modules
/public/hot
/public/.htaccess
/public/error_log
/.htaccess
/public/storage
/storage/*.key
/storage/framework/maintenance.php
/vendor
.idea
.env
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
**/.DS_Store
composer.phar
auth.json
